<template>
  <div class="row">
    <div class="col">
      <input type="text" v-model="messageToBeEdited"/>
    </div>
    <div class="col">
      <button class="btn btn-info" @click="onResetButtonClicked">Reset</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Watch, Vue } from "vue-property-decorator";

@Component({})
export default class MessageEditor extends Vue {
  @Prop() messageProp: string | undefined;

  messageToBeEdited = "";

  onResetButtonClicked() {
    this.messageToBeEdited = "";
  }

  @Watch("messageProp") 
  onMessagePropChanged(newValue: string) {
    this.messageToBeEdited = newValue;
  }

  @Watch("messageToBeEdited") 
  onMessageToBeEditedChanged() {
    this.emitMessageChanged();
  }


  @Emit("messageChanged")
  emitMessageChanged() {      
    return this.messageToBeEdited;
  }


}
</script>