<template>
  <div class="row">
    <div class="col">

      <div class="row">
        <div class="col">Spannende Nachricht: {{ message }}</div>
      </div>

    <div class="row">
        <div class="col">
            <message-editor :messageProp="message" @messageChanged="onMessageChanged"/>
        </div>
    </div>
    <div class="row">
      <div class="col">
          numberOne:  {{ numberOne }}
      </div>
    </div>
    <div class="row">
      <div class="col">
          numberTwo: {{ numberTwo }}
      </div>
    </div>
    <div class="row m-1">
      <div class="col">
        <button class="btn btn-info" @click="numberOne = numberOne +1">numberOne + 1</button>
      </div>
    </div>
    <div class="row m-1">
      <div class="col">
        <button class="btn btn-info" @click="numberTwo = numberTwo + 1">numberTwo + 1</button>
      </div>
    </div>
     <div class="row m-1">
      <div class="col">
        <button class="btn btn-info" @click="onePlusTwo = 0">reset</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
          numberOne + numberTwo = {{ onePlusTwo }}
      </div>
    </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import MessageEditor from "./MessageEditor.vue"

@Component({components: {MessageEditor}})
export default class Test extends Vue {
    message = "";

    numberOne = 1;
    numberTwo = 2;
    
    onMessageChanged(newMessage: string) {
        this.message = newMessage;
    }

    get onePlusTwo() {
      return this.numberOne + this.numberTwo;
    }

    set onePlusTwo(newVal: number) {
      this.numberOne = newVal;
      this.numberTwo = newVal;
    }

}
</script>