<template>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col lead">Todos</div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-info" @click="onClickLoad">Laden</button>
        </div>
      </div>
      <div class="row" v-if="todoItems.length < 1">
        <div class="col">
          Keine Todos geladen
        </div>
      </div>

      <todo-list-item v-for="item in todoItems" :key="item.id" :todo="item"/>

    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TodoListItem from "@/components/TodoListItem.vue"
import { TodoItem } from "../types/TodoItem";
import axios from "axios";

@Component({ components: { TodoListItem } })
export default class TodoList extends Vue {
  todoItems: Array<TodoItem> = [];

  async onClickLoad() {
    const response = await axios.get('https://jsonplaceholder.typicode.com/todos');
    this.todoItems = [];
    for(const item of response.data) {        
        this.todoItems.push(item);
    }    
  }
}
</script>