<template>
  <div class="row border border-1 my-1">
    <div class="col-4">Id: {{ todo.id }}</div>
    <div class="col-4">UserId: {{ todo.userId }}</div>
    <div class="col-4">Title: {{ todo.title }}</div>
  </div>  
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import MessageEditor from "./MessageEditor.vue";
import { TodoItem } from "../types/TodoItem";

@Component({ components: { MessageEditor } })
export default class TodoListItem extends Vue {
  @Prop() todo!: TodoItem;
  todoItems: Array<TodoItem> = [];  
}
</script>